body {
    background-color: #172d48;
}

.wrapper {
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 560px;
    margin: 0 auto;
    width: 100%;
}



#particles-js {
    width: 100%;
    height: 100%;
    background-color: #172d48;
    background: linear-gradient(45deg, #172d48, #313a5a, #626e98);
    background-size: 200% 200% !important;
    -webkit-animation: changeColors 30s ease infinite;
    -moz-animation: changeColors 30s ease infinite;
    -o-animation: changeColors 30s ease infinite;
    animation: changeColors 30s ease infinite;
    display: block;
}

@-webkit-keyframes changeColors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


@media only screen and (max-width: 768px) {
  
.wrapper {

   
}

.logo {
    width: 320px;
}

}