<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ness - Neural Enterprise Software Solution</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <base href="./">

</head>

<body>


    <div id="mobileMenu" class="hide-desktop">

        <ul class="nav">



            <button class="btn btn-marketing-black btn-lg btn-block mt-4">Request </button>

        </ul>
    </div>

    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a href="/"><img src="images/ness.png"></a>
                    </div>

                    <div class="logo-center">

                        <span>by</span>

                    </div>
                    <div class="logo-right">

                        <a href="https://basstechnology.ch/" target="_blank"><img src="images/bass.png"></a>

                    </div>
                </div>


                <div class="col-sm-6 hide-mobile">
                    <a class="btn btn-marketing float-right js-anchor-link" href="#section">Contatti</a>

                </div>


            </div>
        </div>

    </section>



<section class="home-hero">
    <div class="overlay-hero">

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="news-hero-title text-center">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <h1>Il tuo partner per progetti di Robotica e AI






                                </h1>
                            </div>
                            <div class="col-12 col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="video-container">
        <iframe id="yt-video"
            src="https://www.youtube.com/embed/6fCea3vVZWw?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&playsinline=1"
            allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>

</section>


<section class="services fadein">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="section-title text-left mb-20">
                    <h3>Progettiamo soluzioni digitali su misura, sviluppiamo software avanzati e integriamo
                        sistemi di
                        robotica collaborativa per ottimizzare i processi produttivi e migliorare l’efficienza
                        operativa.<br><br>
                        La Ness Software Solutions ha come Mission l'utilizzo di strumenti di AI (Artificial
                        Intelligence) nello sviluppo di software enterprise.</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md">
                <div class="service-item fadein">
                    <div class="image-home-big">
                        <img src="images/icon_1.png" class="img-fluid object-fit_cover fade-in">
                    </div>

                    <h3>Progettazione e Consulenza</h3>
                    <p>Abbiamo anni di esperienza nella progettazione di sistemi complessi che coprono le esigenze del cliente.</p>


                </div>
            </div>



            <div class="col-12 col-md">
                <div class="service-item fadein">


                    <div class="image-home-big">
                        <img src="images/icon_2.png" class="img-fluid object-fit_cover fade-in">
                    </div>
                    <h3>Integriamo Sistemi</h3>
                    <p>Siamo in grado di progettare con il cliente, la migliore ibtegrazione in baase al contesto.</p>

                </div>
            </div>

            <div class="col-12 col-md">
                <div class="service-item fadein">

                    <div class="image-home-big">
                        <img src="images/icon_3.png" class="img-fluid object-fit_cover fade-in">
                    </div>
                    <h3>Intelligenza Artificiale</h3>
                    <p>Siamo nati con l'obiettivo di rendere i sistemi più intelligenti.</p>

                </div>
            </div>


        </div>
    </div>
</section>



<section class="stakeholders fadein">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md">
                <p>
                    La Ness Software Solutions ha come Mission l'utilizzo di strumenti di AI (Artificial Intelligence) nell'analisi dei flussi di e-invoice (fatturazione elettronica).
                </p>
            </div>


            <div class="col-12 col-md">
                <p>
                   Progettiamo soluzioni con AI, integriamo sistemi di robotica collaborativa per ottimizzare i processi produttivi e migliorare l’efficienza operativa.
                </p>
            </div>

        </div>
    </div>
</section>





<section class="companies fadein">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="section-title text-left">
                    <h3>Facciamo parte del gruppo di aziende</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md">
                <div class="company-item fadein">

                    <div class="image-home-big">
                        <a data-toggle="modal" data-target="#ict">
                            <img src="images/ict.png" class="img-fluid object-fit_cover fade-in">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md">
                <div class="company-item fadein">

                    <div class="image-home-big">
                        <a class="cp" data-toggle="modal" data-target="#ict">
                            <img src="images/promedital.png" class="img-fluid object-fit_cover fade-in">
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md">
                <div class="company-item fadein">

                    <div class="image-home-big">
                        <a class="cp" data-toggle="modal" data-target="#ict">
                            <img src="images/basecom.png" class="img-fluid object-fit_cover fade-in">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md">
                <div class="company-item fadein">

                    <div class="image-home-big">
                        <a class="cp" data-toggle="modal" data-target="#ict">
                            <img src="images/bass.png" class="img-fluid object-fit_cover fade-in">
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<section class="footer" id="section">
    <div class="overlay-hero"></div>

    <div class="container footer-content">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="logo mb-3">
                    <a href="/"><img src="images/ness.png"></a>
                </div>


            </div>
            <div class="col-12 col-sm-9">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>
                            <strong>NESS SRL</strong><br>
                            VIA UMBRIA 26<br>
                            42122 REGGIO EMILIA (RE)<br>
                            Tel. +39 0522-629641<br>
                            Fax +39 0522-629259<br>
                            P.IVA e C.F. 02821010358<br>

                        </p>
                    </div>

                    <div class="col-12 col-sm-4">
                        <p>
                            <strong>FOUNDER</strong> <br>
                            Marco Minelli<br>
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>


<script type="text/javascript">

    $(document).on("scroll", function () {
        var pageTop = $(document).scrollTop()
        var pageBottom = pageTop + $(window).height()
        var tags = $(".fadein")

        for (var i = 0; i < tags.length; i++) {
            var tag = tags[i]

            if ($(tag).offset().top < pageBottom) {
                $(tag).addClass("visible")
            } else {
                $(tag).removeClass("visible")
            }
        }
    })
</script>

<script type="text/javascript">

    $('.js-anchor-link').click(function (e) {
        e.preventDefault();
        var target = $($(this).attr('href'));
        if (target.length) {
            var scrollTo = target.offset().top;
            $('body, html').animate({ scrollTop: scrollTo + 'px' }, 800);
        }
    });
</script>





</body>

</html>
